body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.parallax-block {
    /* img bg Does not scroll with the mouse.*/
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 500px;

    /*จัดเรียนตัวหนังสือให้อยู่ center*/
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center
}

.bg-img-1 {
    background-image: url(https://digitorystyle.com/wp-content/uploads/2023/03/%E0%B8%A1%E0%B8%B5%E0%B8%A1-%E0%B8%A0%E0%B8%B2%E0%B8%9E%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%AD%E0%B8%9A%E0%B8%9A%E0%B8%97%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1-3-1024x815.jpg);
}

.bg-img-2 {
    background-image: url(https://static.thairath.co.th/media/FcvsRgKyX10OHanMl6mL8MD7B9VUF5jsQvcSySupfmf31wKAUTm8BuS7sb.jpg);
}

/* create static block (black) */
.static-block {
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 24px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: black;
}

.static-block p {
    /* กล่องดำไม่ต้องมีพื้นหลังข้อความ */
    background-color:  transparent;
    color: white;
    border: 2px solid wheat;
    
}



