h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden; /* เนื้อด้านในไม่ทะลุ*/
    width: 380px;
}

td {
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 100%;
    height: 250px;
    background-image: url(https://i.pinimg.com/originals/f9/42/a7/f942a784556c8c9d4c69991e067e6ceb.jpg);
    background-size: cover;
    background-position: center;
}

.login {
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.description {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}

.icon-1 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/25/25231.png);
}

.icon-2 {
    background-image: url(https://img.icons8.com/color/512/linkedin.png);
}

/* ตกแต่งปุ่ม */
.contact-btn {
    width: 100%; /* ให้ปุ่มกว้างเท่ากับการ์ด */
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s; /* ใส่เอฟเฟกต์ตอน Hover */
}

.contact-btn:hover {
    background-color: #333; /* เปลี่ยนสีเล็กน้อยเวลาเอาเมาส์ชี้ */
}