body { margin: 0; }

html, body, table { height: 100% ;}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

h3 {
    text-align: center;
}